.index-box {
  width: 100%;
  background: #fafafc;
  border: 1px solid #e9e9e9;
  margin-top: 10px;
}

.box-up {
  height: auto;
  font-size: 16px;
  position: relative;
}

.box-center {
  height: 80px;
  line-height: 80px;
}

.up-company {
  margin-right: 50px;
  margin-left: 30px;
}

.center-btn {
  margin-left: 30px;
  font-size: 16px;
  vertical-align: middle;
}

.box-chart {
  height: auto;
}

.chart-begin {
  height: 50px;
  line-height: 50px;
}

.chart-begin .begin-left {
  float: left;
  font-size: 16px;
}

.chart-begin .begin-right {
  float: right;
}

.chart-content {
  position: relative;
  border: 1px solid #e5e5e5;
  background: #fafafc;
  padding-top: 20px;
}

.chart-end {
  width: 100%;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.box-down {
  border: none;
  margin-top: 10px;
  padding-bottom: 20px;
}

.no-data {
  position: absolute;
  width: 100%;
  height: 375px;
  background: #fafafc;
  z-index: 1000;
  text-align: center;
  line-height: 350px;
  font-size: 18px;
}

.card-title {
  position: absolute;
  line-height: 50px;
  height: 50px;
  top: 0px;
}

.card-title img {
  border-style: none;
  vertical-align: -6px;
  width: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

.cardTop {
  width: calc(33% - 20px);
  float: left;
  text-align: center;
  margin-right: 15px;
  background: #fafafc;
  border: 1px solid #e5e5e5;
  margin-top: 50px;
  position: relative;
}

.cardred {
  color: #e26166;
}

.cardblue {
  color: #009beb;
}

.cardpurple {
  color: #d35cd5;
}

.cardgreen {
  color: #23ae57;
}

.cardyellow {
  color: #eb9b00;
}

.cardTop-title {
  position: absolute;
  margin: 7px;
  font-size: 14px;
}

.cardTop-unit {
  height: 120px;
  color: #939494;
  line-height: 120px;
  font-style: italic;
}

.cardTop-value {
  font-size: 48px;
  font-weight: 900;
}

.button-group {
  height: 120px;
  margin-top: 50px;
  background: #fafafc;
  border: 1px solid #e5e5e5;
  margin-right: 41px;
}

.groups-box {
  float: left;
  width: 33%;
  height: 118px;
  text-align: center;
  line-height: 118px;
}

.groups-box img {
  width: 90px;
  vertical-align: middle;
  margin-right: 10px;
}

.chartimg-title {
  border-style: none;
  vertical-align: -6;
  margin-right: 10px;
  margin-left: -15px;
  width: 25px;
}

.query-box {
  padding: 20px;
  background: #fff;
  border: 1px solid #e9e9e9;
  margin-top: 10px;
}

.index-chart {
  margin-left: 50px;
  margin-right: 41px;
  margin-bottom: 40px;
}
