.list-body {
  margin: 0 auto;
  text-align: center;
}

.list-body .list-box {
  padding: 10px 25%;
  display: inline-block;
  border-bottom: 1px solid #c9c9c9;
  box-shadow: 0 1px 6px rgba(99, 99, 99, .2)
}

.list-body .list-box input {
  margin-bottom: 5px;
}

.split-line {
  height: 1px;
  border: none;
  border-top: 1px solid #c9c9c9;
  margin: 10px;
}

.split-line-dash {
  height: 1px;
  border: none;
  border-top: 1px dashed #c9c9c9;
}

.list-item {
  border: 1px solid #c9c9c9;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

.list-item .item-count {
  float: right;
}

.room-list {
  height: calc(100% - 115px);
  overflow-y: scroll;
}